h1{
    text-transform: uppercase;
    font-family: "Libre Baskerville", serif;
    font-size: x-small;
    text-align: center;
}

p{
    font-size: 10px;
    text-align: center;
}

  img{
    width: 100%;
  }

  div{
    width: 60%;
    margin: 25%;
  }